<mat-card class="card-contact">
  <mat-card-content>
    <span appAnimate>Nom :</span><span>{{ item.nom }}</span>
    <span>Prénom :</span><span>{{ item.prenom }}</span> <span>N° :</span
    ><span>{{ item.numero }}</span>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-icon-button
      [disableRipple]="true"
      (click)="changeFavValue()"
      [ngStyle]="{ display: item.favori ? 'inline-block' : 'none' }"
    >
      <mat-icon *ngIf="item.favori" color="accent">favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      [disableRipple]="true"
      (click)="changeFavValue()"
      [ngStyle]="{ display: !item.favori ? 'inline-block' : 'none' }"
    >
      <mat-icon *ngIf="!item.favori" color="accent">favorite_border</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
